h1
{
    font-size: 3em;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: sans-serif;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text 7.5s linear infinite;
}
@keyframes text
    {
    from{background-position:0% 50%}
    to {background-position:100% 100%}
    }